:root{
    --white-color: #FFFFFF;
	--orange-color: #FD7E14;
    --black-color:#212529;
    --text-color: #F8F9FA;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'UTM-Avo-Bold';
}

a{
    color: var(--white-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

body,
html{
    font-family: 'SVN-GilroyMedium';
    margin: 0;
    height: 100%;
}

.container {
	position: relative;
	height: 100%;
    width: 100%;
    max-width: 1300px;
    background-color: var(--white-color);
}

.bgimg{
    height: 825px;
    position: absolute;
    width: 1440px;
    left: 0px;
    top: 0px;
}

.caption{
    position: absolute;
	left: 50%;
	top: 62%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 9;
}

.title-big{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--white-color);
}
.title-small{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: var(--white-color);
}

.box{
    width: 1029px;
    height: 237px;
    left: 206px;
    top: 507px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid var(--orange-color);
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.176);
    border-radius: 16px;
    margin-top: 170px;
}

.four-box{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}
.build-box {
    width: 25%;
}

.title-box{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: var(--orange-color);
}

.content-box{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--black-color);
}

.content{
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: var(--black-color);
}