:root{
    --white-color: #FFFFFF;
	--blue-color: #007BFF;
    --green-color:#17A2B8;
    --text-color: #F8F9FA;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'UTM-Avo-Bold';
}

a{
    color: var(--white-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none !important;
}

body,
html{
    font-family: 'SVN-GilroyMedium';
    margin: 0;
    height: 100%;
}

.container {
	position: relative;
	height: 100%;
    width: 100%;
    max-width: 1456px;
}

.bgimg{
    height: 825px;
    position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.caption{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

.content{
    position: absolute;
    width: 450px;
    height: 265px;
    left: 100px;
    top: 280px;
}

.test-caption{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--white-color);
}

.content-caption{
    margin: 31px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: var(--text-color);
}

.btn{
    margin: 21px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.btn-left{
    padding: 8px 16px;
    background: var(--blue-color);
    border-radius: 4.8px;
}

.btn-right{
    padding: 8px 16px; 
    background: var(--green-color);;
    border-radius: 4.8px;
}

.img-small{
    position: absolute;
    width: 654px;
    height: 379px;
    left: 665px;
    top: 212px;
}
